.navi
{

  overflow: hidden;
  background-color:indianred;
  
}
.navi a
{
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  }
  .navi a:hover 
  {
  background-color:gray;

  color: black;
}
  
h1
{
 font-weight:1000;
text-align:center;
color:white;


}
.container{
    display: flex;
  
}


.space
{
    margin-left:20px;
}
.card {

  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: indianred;
  color: white;
  text-align: center;
}
 #imagepro{
        width:200px; height:200px 
    }
 #jumbpro{
      width:400px;  padding:unset;
 }