<!DOCTYPE html>
<html>
<head><title>waste management</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
   
.navi
{

  overflow: hidden;
  background-color:indianred;
  
}
.navi a
{
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  }
  .navi a:hover 
  {
  background-color:gray;

  color: black;
}
  
h1
{
 font-weight:1000;
text-align:center;
color:white;


}
.container{
    display: flex;
  
}


.space
{
    margin-left:20px;
}
.card {

  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: indianred;
  color: white;
  text-align: center;
}
 #imagepro{
        width:200px; height:200px 
    }
 #jumbpro{
      width:400px;  padding:unset;
 }
</style>

</head>
<body background="static/images/bg7.jpg">
    <div class="navi">
        <a href="/home" data-toggle="tooltip" title="Home page"><img src="https://storage007005.blob.core.windows.net/images/home.png" width="30px" height="23px" />Home</a>
        <a href="/mapdry" data-toggle="tooltip" title="shortest path map for dry waste "><img src="https://storage007005.blob.core.windows.net/images/drytruck.png" height="23px" width="40px" />&nbsp;Dry Waste</a>
        <a href="/mapwet" data-toggle="tooltip" title="shortest path map for wet waste "><img src="https://storage007005.blob.core.windows.net/images/wettruck.png" height="23px" width="40px" />&nbsp;Wet Waste</a>
        <a href="/res" data-toggle="tooltip" title="Details of restaurants "><img src="https://storage007005.blob.core.windows.net/images/rest.png" />&nbsp;&nbsp;Restaurants</a>
        <a href="/driver" data-toggle="tooltip" title="Details of truck drivers "><img src="https://storage007005.blob.core.windows.net/images/drive.png" width="30px" height="23px" />Driver</a>
        <a href="/about" data-toggle="tooltip" title="Know about website admins"><img src="https://storage007005.blob.core.windows.net/images/abouticon2.png" width="35px" height="25px" />&nbsp;About Us</a>

    </div>
    <br/>
<br/>
    <br/>
    <div class="container">
        <div class="jumbotron" id="jumbpro">

            <div class="card">
                <p></p>
                <img src="https://storage007005.blob.core.windows.net/images/navya.jpeg" alt="navya" id="imagepro">
                <h2>Navya Shree</h2>
                Associate Engineer<br />
                Manyata-SEZ Unit-2 (G,1,2 & 3 F)<br />
                <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp; Navya.Shree@Ltts.com
                <br />
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 9482697990
                <p></p>
            </div>
        </div>     
 
       <div class="space"></div>
        
       
        <div class="space"></div>

        <div class="jumbotron" id="jumbpro">
            <p></p>
            <div class="card">
                <img src="https://storage007005.blob.core.windows.net/images/rohit.jpeg" alt="rohit" id="imagepro" />
                <h2>Rohit Kodate</h2>

                Associate Engineer<br />
                Manyata-SEZ Unit-2 (G,1,2 & 3 F)
                <br />
                <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;Rohit.AshokKodate@Ltts.com
                <br />
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 9969745812
                <p></p>
            </div>
        </div>

        <div class="space"></div>
        <div class="jumbotron" id="jumbpro">
            <p></p>
            <div class="card">
                <img src="https://storage007005.blob.core.windows.net/images/tejas.jpeg" alt="tejas" id="imagepro">
                <h2>Tejas ShivpalPanchbhai</h2>
                Associate Engineer<br />
                Manyata-SEZ Unit-2 (G,1,2 & 3 F)
                <br />
                <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;Tejas.ShivpalPanchbhai@Ltts.com
                <br />
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 8149556693
                <p></p>
            </div>
        </div>
        <div class="space"></div>

        <div class="jumbotron" id="jumbpro">
            <p></p>
            <div class="card">
                <img src="https://storage007005.blob.core.windows.net/images/soffiya.jpeg" alt="soffiya" id="imagepro">
                <h2>Soffiya</h2>

                Associate Engineer<br />
                Manyata-SEZ Unit-3 (4 & 5 Floor)
                <br />
                <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;soffiya.n@ltts.com
                <br />
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 8762207208
                <p></p>
            </div>
        </div>
        </div>
<div class="container">
        <div class="jumbotron" id="jumbpro">
            <p></p>
            <div class="card">
                <img src="https://storage007005.blob.core.windows.net/images/ameer.jpeg" alt="ameer" id="imagepro">
                <h2>J.Ameer Basha
</h2>

                Associate Engineer<br />
                Manyata-SEZ Unit-3 (4 & 5 Floor)

                <br />
                <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;J.AmeerBasha@Ltts.com
                <br />
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 8971918786
                <p></p>
            </div>
        </div>
    <div class="space">
    </div>        <div class="jumbotron" id="jumbpro">
            <p></p>
            <div class="card">
                <img src="https://storage007005.blob.core.windows.net/images/sitesh.jpeg" alt="sitesh" id="imagepro">
                <h2>Sitesh KumarSingh
</h2>

                Associate Engineer<br/>
                Manyata-SEZ Unit - 1 (6th Floor)<br/>
        
                <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp; Sitesh.KumarSingh@Ltts.com
                <br />
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 8087726432
                <p></p>
            </div>
        </div>
    <div class="space">
    </div> s
       
    <div class="jumbotron" id="jumbpro">

        <div class="card">
            <p></p>
            <img src="https://storage007005.blob.core.windows.net/images/yamini.jpeg" alt="yamini" id="imagepro">
            <h2>Nagineni Yamini</h2>

            Associate Engineer<br />
            Manyata-SEZ Unit-1 (6 Floor)
            <br />
            <span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;nagineni.yamini@ltts.com
            <br />
            <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91 7022931886
            <p></p>
        </div>
    </div>
    </div>

    <div class="footer">
        <center>&copy;&nbsp;Made by Smart Waste Management Project Group @ LTTS </center>
    </div>
</body>
</html>
