<html>

<head>
  <link rel="stylesheet" href="https://storage007005.blob.core.windows.net/style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
	<div id="response"></div>

        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
document.getElementById("x").innerHTML="hi";
  </script>
<body >
           <div class="navi">
            <a href="/home" data-toggle="tooltip" title="Home page"><img src="https://storage007005.blob.core.windows.net/images/home.png" width="30px" height="23px"/>Home</a>
            <a href="/map" data-toggle="tooltip" title="shortest path map for dry waste "><img src="https://storage007005.blob.core.windows.net/images/drytruck.png" height="23px" width="40px" />&nbsp;Dry Waste</a>
            <a href="/map1" data-toggle="tooltip" title="shortest path map for wet waste "><img src="https://storage007005.blob.core.windows.net/images/wettruck.png" height="23px" width="40px" />&nbsp;Wet Waste</a>
            <a href="/res" data-toggle="tooltip" title="Details of restaurants "><img src="https://storage007005.blob.core.windows.net/images/rest.png"/>&nbsp;&nbsp;Restaurants</a>
            <a href="/driver" data-toggle="tooltip" title="Details of truck drivers "><img src="https://storage007005.blob.core.windows.net/images/drive.png" width="30px" height="23px"/>Driver</a>
            <a href="/about" data-toggle="tooltip" title="Know about website admins"><img src="https://storage007005.blob.core.windows.net/images/abouticon2.png" width="35px" height="25px" />&nbsp;About Us</a>

        </div>


	<center>
		
	<br/>
	<br/>
		<ul class="bar-graph" style="height:300px; width:400px;  ">
			
			&nbsp;&nbsp;	<li class="bar "   style="height:{{waste_per[0]}}%; background-color:green;" title="{{waste_per[0]}}"  >
					<h2><div > {{waste_per[0]}}<span>%</span></div></h2>
				
					
					
				<li class="bar "  style="height:{{waste_per[1]}}%; background-color:green;" title="{{waste_per[1]}}">
				<h2>	<div >{{waste_per[1]}}<span>%</span></div></h2>
				
					
				
				<li class="bar " style="height:{{waste_per[2]}}%;background-color:green;" title="{{waste_per[2]}}">
					<h2><div>{{waste_per[2]}}<span>%</span></div></h2>
				
					
					
				<li class="bar "  style="height:{{waste_per[3]}}%; background-color:green;" title="{{waste_per[3]}}">
					<h2><div >{{waste_per[3]}}<span>%</span></div></h2>
				
	
					
				<li class="bar"  style="height:{{waste_per[4]}}%;background-color:green;" title="{{waste_per[4]}}">
					<h2><div >{{waste_per[4]}}<span>%</span></div></h2>
				
					
				
				<li class="bar" style="height:{{waste_per[5]}}%; background-color:green;" title="{{waste_per[5]}}">
					<h2><div >{{waste_per[5]}}<span>%</span></div></h2>
				
					
					
					
				
	

	</ul>
	</div>
<br/>
	<br/>
	<br/>
	<button class="button btn "><a href="/mylink1">{{name[0]}}</a></button>  &nbsp;  <button class="button btn"><a href="/mylink2">{{name[1]}}</a></button>&nbsp; 	<button class="button btn"><a href="/mylink3">{{name[2]}}</a></button>&nbsp; 	<button class="button btn"><a href="/mylink4">{{name[3]}}</a></button>	&nbsp;	<button class="button btn"><a href="/mylink5">{{name[4]}}</a></button>		<button class="button btn"><a href="/mylink6">{{name[5]}}</a></button>&nbsp;
		

	</center>
	
	
	   <div class="footer">
        <center>&copy;&nbsp;Made by Smart Waste Management Project Group @ LTTS </center>
    </div>
	
	</body>
</html>
