<!DOCTYPE html>
<html>
<head><title>waste management</title>
    <link rel="stylesheet" href="https://storage007005.blob.core.windows.net/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
h1{
    text-shadow: 0 0 5px #FF0000;

}
</style>
    
 <script type="text/javascript"> 
		function refreshtime(){
				var refresh=1000; // Refresh rate in milli seconds
				mytime=setTimeout('displaytime()',refresh)
			}

		function displaytime() {
				var dt = new Date()
				document.getElementById('time').innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" / "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2))+":"+(("0"+dt.getSeconds()).slice(-2));
				refreshtime();
 			}
</script>
</head>
    
<body background="static/images/bg7.jpg">
           <div class="navi">
            <a href="/home" data-toggle="tooltip" title="Home page"><img src="https://storage007005.blob.core.windows.net/images/home.png" width="30px" height="23px"/>Home</a>
            <a href="/map" data-toggle="tooltip" title="shortest path map for dry waste "><img src="https://storage007005.blob.core.windows.net/images/drytruck.png" height="23px" width="40px" />&nbsp;Dry Waste</a>
            <a href="/map1" data-toggle="tooltip" title="shortest path map for wet waste "><img src="https://storage007005.blob.core.windows.net/images/wettruck.png" height="23px" width="40px" />&nbsp;Wet Waste</a>
            <a href="/res" data-toggle="tooltip" title="Details of restaurants "><img src="https://storage007005.blob.core.windows.net/images/rest.png"/>&nbsp;&nbsp;Restaurants</a>
            <a href="/driver" data-toggle="tooltip" title="Details of truck drivers "><img src="https://storage007005.blob.core.windows.net/images/drive.png" width="30px" height="23px"/>Driver</a>
            <a href="/about" data-toggle="tooltip" title="Know about website admins"><img src="https://storage007005.blob.core.windows.net/images/abouticon2.png" width="35px" height="25px" />&nbsp;About Us</a>
<p style="
				float: right;
				display: block;
				color: white;
				text-align: center;
				padding: 16px 16px;"><span id='time' ></span>
			</p>
        </div>

<div>
    <br/>
<br/>
<br />
 <b> <h1 align="center" style="color:white;"><img src="static/images/logo.png" height="45px" width="50px;" />&nbsp; SMART WASTE MANAGEMENT</h1></b>
  </div>
  
 
  <div ba></div>  <br/>
   

    <br />
    <br/>

    
    <div class="container">
        <div class="space">

        </div>
<div class="space">

        </div>
        
        
            <div  class="jumbotron col-sm-6 text-center" style="height:80; width:40;">
                <center>
                    <a href="/dry_chart" data-toggle="tooltip" title="Dry waste bar graph"><img src="https://storage007005.blob.core.windows.net/images/dry.png" alt="dry" height="120" width="120" ></a>

                    <a href="/dry_chart" data-toggle="tooltip" title="Dry waste bar graph"><h3>DRY WASTE</h3></a>
                </center>
            </div>
        <div class="space">

        </div>
        
        <div  class="jumbotron col-sm-6 text-center" style="height:80; width:40;">
            <center>
                <a href="/wet_chart" data-toggle="tooltip" title="Wet waste bar graph"><img src="https://storage007005.blob.core.windows.net/images/wet.png" alt="wet" height="100" width="100"></a>

                <a href="/wet_chart" data-toggle="tooltip" title="Wet waste bar graph"><h3>WET WASTE</h3></a>
            </center>
        </div>
    </div>

    <div class="footer">
        <center>&copy;&nbsp;Made by Smart Waste Management Project Group @ LTTS </center>
    </div>
 
  </body>
  </html>


