<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e60252df361d47acbde944e635b13fef {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e60252df361d47acbde944e635b13fef" ></div>
        
</body>
<script>    
    
            var map_e60252df361d47acbde944e635b13fef = L.map(
                "map_e60252df361d47acbde944e635b13fef",
                {
                    center: [12.97229, 77.68118],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_24ba7c0486194868a7228347afc5631e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var marker_ba1a362596724f159895c357d6845ad2 = L.marker(
                [13.0708, 77.65186],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_8bc14be58aec4adf97518f09308121e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ba1a362596724f159895c357d6845ad2.setIcon(icon_8bc14be58aec4adf97518f09308121e9);
        
    
        var popup_96553c5161a548438321a67309f85bed = L.popup({"maxWidth": "100%"});

        
            var html_8745b79a2ea64e318e58ae2037c07824 = $(`<div id="html_8745b79a2ea64e318e58ae2037c07824" style="width: 100.0%; height: 100.0%;">Rest1</div>`)[0];
            popup_96553c5161a548438321a67309f85bed.setContent(html_8745b79a2ea64e318e58ae2037c07824);
        

        marker_ba1a362596724f159895c357d6845ad2.bindPopup(popup_96553c5161a548438321a67309f85bed)
        ;

        
    
    
            var marker_2386f9ae3a184e84b6dcac94f7159752 = L.marker(
                [13.02248, 77.55055],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_1e32c1df7cde46caa094bb7571cf824e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2386f9ae3a184e84b6dcac94f7159752.setIcon(icon_1e32c1df7cde46caa094bb7571cf824e);
        
    
        var popup_6a0f1ee6122e411f89beac5b00558c7a = L.popup({"maxWidth": "100%"});

        
            var html_3af0491a96454a46b3fa7be93e56e629 = $(`<div id="html_3af0491a96454a46b3fa7be93e56e629" style="width: 100.0%; height: 100.0%;">Rest2</div>`)[0];
            popup_6a0f1ee6122e411f89beac5b00558c7a.setContent(html_3af0491a96454a46b3fa7be93e56e629);
        

        marker_2386f9ae3a184e84b6dcac94f7159752.bindPopup(popup_6a0f1ee6122e411f89beac5b00558c7a)
        ;

        
    
    
            var marker_376037b97346403aacf46e93e2a0c334 = L.marker(
                [12.99196, 77.58831],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_62ec838f475c4bbc8afb13744fb242f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_376037b97346403aacf46e93e2a0c334.setIcon(icon_62ec838f475c4bbc8afb13744fb242f7);
        
    
        var popup_303cdbd6c4ad465d9e9c6b6a28d7d782 = L.popup({"maxWidth": "100%"});

        
            var html_b2908508331046f59d35b1ceccb1dfe9 = $(`<div id="html_b2908508331046f59d35b1ceccb1dfe9" style="width: 100.0%; height: 100.0%;">Rest3</div>`)[0];
            popup_303cdbd6c4ad465d9e9c6b6a28d7d782.setContent(html_b2908508331046f59d35b1ceccb1dfe9);
        

        marker_376037b97346403aacf46e93e2a0c334.bindPopup(popup_303cdbd6c4ad465d9e9c6b6a28d7d782)
        ;

        
    
    
            var marker_c6be2394c72d4860ac7f9e1e606cdd16 = L.marker(
                [12.96736, 77.59559],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_37a8406347f94c38937a391cc012fd64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c6be2394c72d4860ac7f9e1e606cdd16.setIcon(icon_37a8406347f94c38937a391cc012fd64);
        
    
        var popup_012245c3e2bf4990a2775696f3ecb7eb = L.popup({"maxWidth": "100%"});

        
            var html_9bbba32fe1ba40ac8c44fea08f4ac0f6 = $(`<div id="html_9bbba32fe1ba40ac8c44fea08f4ac0f6" style="width: 100.0%; height: 100.0%;">Rest4</div>`)[0];
            popup_012245c3e2bf4990a2775696f3ecb7eb.setContent(html_9bbba32fe1ba40ac8c44fea08f4ac0f6);
        

        marker_c6be2394c72d4860ac7f9e1e606cdd16.bindPopup(popup_012245c3e2bf4990a2775696f3ecb7eb)
        ;

        
    
    
            var marker_db0b8208c29e4c2fb1f7406b2bee98fc = L.marker(
                [12.97923, 77.72845],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_65f46e4558874af69c02ba1b7b6b0639 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_db0b8208c29e4c2fb1f7406b2bee98fc.setIcon(icon_65f46e4558874af69c02ba1b7b6b0639);
        
    
        var popup_409a759bf7c643908b30eeb43676060f = L.popup({"maxWidth": "100%"});

        
            var html_7bde9d2d56164ff1adfd3e124e178e57 = $(`<div id="html_7bde9d2d56164ff1adfd3e124e178e57" style="width: 100.0%; height: 100.0%;">Rest5</div>`)[0];
            popup_409a759bf7c643908b30eeb43676060f.setContent(html_7bde9d2d56164ff1adfd3e124e178e57);
        

        marker_db0b8208c29e4c2fb1f7406b2bee98fc.bindPopup(popup_409a759bf7c643908b30eeb43676060f)
        ;

        
    
    
            var marker_86bf7ffda1994910ac81251e7dd8a99d = L.marker(
                [12.82465, 77.68118],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_86432d6b808948a1b544962ff4328515 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_86bf7ffda1994910ac81251e7dd8a99d.setIcon(icon_86432d6b808948a1b544962ff4328515);
        
    
        var popup_2a553ac927404530b83da7dea5005165 = L.popup({"maxWidth": "100%"});

        
            var html_ede33925d488439484cccfadea6bc510 = $(`<div id="html_ede33925d488439484cccfadea6bc510" style="width: 100.0%; height: 100.0%;">Rest6</div>`)[0];
            popup_2a553ac927404530b83da7dea5005165.setContent(html_ede33925d488439484cccfadea6bc510);
        

        marker_86bf7ffda1994910ac81251e7dd8a99d.bindPopup(popup_2a553ac927404530b83da7dea5005165)
        ;

        
    
    
            var marker_0eeee8d7749247c08722772cc8cbe5d7 = L.marker(
                [12.97229, 77.68118],
                {}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
    
            var icon_682ccf4844dd4c0eb99557aaa896df8b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkpurple", "prefix": "glyphicon"}
            );
            marker_0eeee8d7749247c08722772cc8cbe5d7.setIcon(icon_682ccf4844dd4c0eb99557aaa896df8b);
        
    
        var popup_209a05e3b7084256a0162ecb104fb0c0 = L.popup({"maxWidth": "100%"});

        
            var html_5b56b3ca4f024748a6456ef3ee33d780 = $(`<div id="html_5b56b3ca4f024748a6456ef3ee33d780" style="width: 100.0%; height: 100.0%;">Starting point</div>`)[0];
            popup_209a05e3b7084256a0162ecb104fb0c0.setContent(html_5b56b3ca4f024748a6456ef3ee33d780);
        

        marker_0eeee8d7749247c08722772cc8cbe5d7.bindPopup(popup_209a05e3b7084256a0162ecb104fb0c0)
        ;

        
    
    
            var poly_line_d826546634a94359a85f2e9773165fa7 = L.polyline(
                [[12.97229, 77.68118], [12.97923, 77.72845], [12.99196, 77.58831]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_e60252df361d47acbde944e635b13fef);
        
</script>